*{
    box-sizing: border-box;
}



body{
    overflow-x: hidden;
    background-color: rgb(221, 157, 221);

}



.Quiz-container{
    max-width: 900px;
    margin: 0 auto;
    

}

.Quiz-container .timer{
    font-weight: bold;
    text-align: right;
     
}


.Quiz-container h2.question{
    font-size: 20px;
    background-color:aqua ;
    padding: 16px;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    line-height: 1.6;
}


.timer.danger{
    color: red;
    animation: expand 2s infinite;

}


@keyframes expand{
    0%{
        transform: scale(1);
    }

    50%{
        transform: scale(1.5);
    }
}

 .Quiz-container .ans{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;
    margin-bottom: 20px;
       

}




.Quiz-container .option{
    border: none;
    padding: 10px 12px;
    font-size: 18px;
    border-radius: 20px;
    background: rgb(97, 25, 97);
    color: white;
    cursor: pointer;

}

.Quiz-container .option.correct{
    background-color: greenyellow;
    color:white;
}

.Quiz-container .option.incorrect{
    background-color: red;
    color: white;
}

.disabled{
    pointer-events: none;
    opacity: 0.5;
}
.Quiz-container .next-Bn{
    background: #222;
    color: white;
    border: none;
    padding: 12px 32px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 3px;
    cursor: pointer;
    
}

.retake-Bn{
    background: #222;
    color: white;
    border: none;
    padding: 12px 32px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 3px;
    cursor: pointer;
    position: absolute;
    bottom: 50%;
    right: 50%;

}


.question-number{
    font-size: 16px;
    margin-right: 80px;
    background: rgb(97, 25, 97);
    color:white;
    padding: 8px;
    align-items: left;
}



@media (max-width:700px) {
    .Quiz-container .options{
        grid-template-columns: 1fr;
    }
    
}